@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add these styles to your global CSS file */
.fade-enter {
    opacity: 0;
    max-height: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    max-height: 500px; /* Adjust based on your content height */
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
    max-height: 500px;
  }
  
  .fade-exit-active {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }
  

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    animation: spin 1s linear infinite;
  }
  